
@import "../node_modules/bulma/bulma.sass";

body {
  background: #eee;
}

.rv-xy-plot {
  user-select: none !important; 
}

.line-series,
.rv-xy-plot__series--line {
  stroke-width: 2;
  fill: none !important;
}

.emissions-chart--regional {
  margin: 25px;
}
